backups/
auto-save-list/
autosaves/
docs/
elpa/
eshell/
eric.el
history
ido.last
*~
info/
site-lisp/
themes/
tramp/
tutorial/
url/
.#*
.mc-lists.el
.org-id-locations
ac-comphist.dat
color-theme.el
*.eld
tramp
bookmarks
org/